[Unit]
Description=Starts SamplerBox
DefaultDependencies=false

[Service]
Type=simple
ExecStart=python3 /opt/SamplerBox/samplerbox.py
WorkingDirectory=/opt/SamplerBox/

[Install]
WantedBy=local-fs.target
